/* You can add global styles to this file, and also import other style files */

html, body { 
    --personal-color: #010E18;
    height: 100%;
    background-color: var(--personal-color);
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    & > * {
        margin: 0;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}

pre {
    background-color: rgba(0, 128, 0, 0.25);
}